@import '~primer-support';

$link-text: #82ffda;
$warning: #ffc780;
$error: #ff8a80;
$info: #76d5c0;
$input-hover-border: #4c8073;
$primary-button-background: #53fed9;
$primary-button-background-hover: #45f5c9;
$primary-button-border: #3dfec4;
$primary-button-text: #000;
$secondary-button-background: #3a3a3a;
$secondary-button-background-hover: #3b3b3b;
$secondary-button-border: #696969;
$secondary-button-text: #ffffff;
$button-disabled: #494949;
$button-disabled-text: #c5c5c5;
$panel-border: #6b6b6b;
$panel-background: #292929;
$panel-header-background: #292929;
$highlighted-selector-border: #77d5b9;

// PrimerCSS
$black: #1f1f1f;
$border: 1px solid $panel-border;
$bg-blue: #384aff;
$bg-blue-light: #f7f8fc;
$bg-gray: #90a4ae;
$bg-green: #21b66f;
$text-blue: #384aff;
$text-red: #ff8a80;
$text-yellow: #ffc780;
$blue-100: #dce2ff;
$gray: $bg-gray;
$text-gray: $gray;
$blue: #76d5c0;
$blue-900: #416b5d;
$gray-dark: #283231;
$bg-gray-dark: $gray-dark;

$border-radius: 4px;

$body-font-size: 14px;
$body-line-height: 1.4;
$h1-size: 28px;
$h2-size: 24px;
$h3-size: 20px;
$h4-size: 18px;
$h5-size: 16px;

$font-size-bigger: 16px;

$font-weight-normal: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
  Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$font-weight-bold: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji;
$body-font: $font-weight-normal;
$font-mktg: $font-weight-bold;
